@model  BussModule.Biz.Model.ServicesInfo
@{
    ViewBag.Title = "服务信息";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
   <style>
       td {
       padding:5px;
       }
       .tab-items a 
       {
           line-height: 38px;
    display: block;
    overflow: hidden;
    width: 20%;
    -webkit-transition: background-color .1s linear;
    transition: background-color .1s linear;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #007aff;
    border-color: #007aff;
    border: 1px solid #007aff;
    float:left;
       }
       .tab-items .mui-active {
       background-color:#007aff;
       color:#fff;
       }
       .tab-item-content {
       display:none;
       }
       #contents .tab-item-content
        {
       display:none;
       }
        #contents .mui-active
        {
       display:block;
       }   
       table td {
       font-size:13px;
       }
       thead td {
       text-align:center;
       }
    </style>
<style>
    .imgDiv {
        float: left;
        margin: 5px;
        border: 2px solid #444;
    }

        .imgs img {
            width: 22%;
            margin-left:10px;
        }

    .currImg {
        border: 1px solid red;
    }
</style>
<style type="text/css">
			.mui-preview-image.mui-fullscreen {
				position: fixed;
				z-index: 20;
				background-color: #000;
			}
			.mui-preview-header,
			.mui-preview-footer {
				position: absolute;
				width: 100%;
				left: 0;
				z-index: 10;
			}
			.mui-preview-header {
				height: 44px;
				top: 0;
			}
			.mui-preview-footer {
				height: 50px;
				bottom: 0px;
			}
			.mui-preview-header .mui-preview-indicator {
				display: block;
				line-height: 25px;
				color: #fff;
				text-align: center;
				margin: 15px auto 4;
				width: 70px;
				background-color: rgba(0, 0, 0, 0.4);
				border-radius: 12px;
				font-size: 16px;
			}
			.mui-preview-image {
				display: none;
				-webkit-animation-duration: 0.5s;
				animation-duration: 0.5s;
				-webkit-animation-fill-mode: both;
				animation-fill-mode: both;
			}
			.mui-preview-image.mui-preview-in {
				-webkit-animation-name: fadeIn;
				animation-name: fadeIn;
			}
			.mui-preview-image.mui-preview-out {
				background: none;
				-webkit-animation-name: fadeOut;
				animation-name: fadeOut;
			}
			.mui-preview-image.mui-preview-out .mui-preview-header,
			.mui-preview-image.mui-preview-out .mui-preview-footer {
				display: none;
			}
			.mui-zoom-scroller {
				position: absolute;
				display: -webkit-box;
				display: -webkit-flex;
				display: flex;
				-webkit-box-align: center;
				-webkit-align-items: center;
				align-items: center;
				-webkit-box-pack: center;
				-webkit-justify-content: center;
				justify-content: center;
				left: 0;
				right: 0;
				bottom: 0;
				top: 0;
				width: 100%;
				height: 100%;
				margin: 0;
				-webkit-backface-visibility: hidden;
			}
			.mui-zoom {
				-webkit-transform-style: preserve-3d;
				transform-style: preserve-3d;
			}
			.mui-slider .mui-slider-group .mui-slider-item img {
				width: auto;
				height: auto;
				max-width: 100%;
				max-height: 100%;
			}
			.mui-android-4-1 .mui-slider .mui-slider-group .mui-slider-item img {
				width: 100%;
			}
			.mui-android-4-1 .mui-slider.mui-preview-image .mui-slider-group .mui-slider-item {
				display: inline-table;
			}
			.mui-android-4-1 .mui-slider.mui-preview-image .mui-zoom-scroller img {
				display: table-cell;
				vertical-align: middle;
			}
			.mui-preview-loading {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				display: none;
			}
			.mui-preview-loading.mui-active {
				display: block;
			}
			.mui-preview-loading .mui-spinner-white {
				position: absolute;
				top: 50%;
				left: 50%;
				margin-left: -25px;
				margin-top: -25px;
				height: 50px;
				width: 50px;
			}
			.mui-preview-image img.mui-transitioning {
				-webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
				transition: transform 0.5s ease, opacity 0.5s ease;
			}
	@@-webkit-keyframes fadeIn {
				0% {
					opacity: 0;
				}
				100% {
					opacity: 1;
				}
			}
			@@keyframes fadeIn {
				0% {
					opacity: 0;
				}
				100% {
					opacity: 1;
				}
			}
			@@-webkit-keyframes fadeOut {
				0% {
					opacity: 1;
				}
				100% {
					opacity: 0;
				}
			}
			@@keyframes fadeOut {
				0% {
					opacity: 1;
				}
				100% {
					opacity: 0;
				}
			}
			p img {
				max-width: 100%;
				height: auto;
			}
</style>
    }
<header class="mui-bar mui-bar-nav">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
    <h1 class="mui-title">服务详情</h1>
</header>
<div class="mui-content">
    <div style="padding: 10px 10px;">
        <div id="segmentedControl" class="tab-items" style="width:100%">
            <a class="tab-item mui-active" href="#item1">
                服务详情
            </a>
            <a class="tab-item" href="#item2">
                工单处理
            </a>
            <a class="tab-item" href="#item3">
                备件耗材
            </a>
            <a class="tab-item" href="#item4">
                服务项目
            </a>
            <a class="tab-item" href="#item5">
                机器配置
            </a>     
            <a class="tab-item" href="#item6">
                服务报价
            </a>
            <a class="tab-item" href="#item7">
                催单
            </a>
            <a class="tab-item" href="#item8">
                计数器
            </a>
            <a class="tab-item" href="#item9">
                维修图片
            </a>
            <a class="tab-item" href="#item10">
                日志
            </a>    
            <div class="mui-clearfix"></div>  
        </div>

    </div>
    <div id="contents">
        <div id="item1" class="tab-item-content mui-active" style="padding:0px 5px;"> 
            @if(Model.ServiceDetail!=null)
            { 
                        <table cellspacing="0" cellpadding="0" border="1" style="width:100%">
                            <thead>
                                <tr>
                                    <td>服务单号：</td>
                                    <td>@Model.ServiceDetail.BillID</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>服务状态:</td>
                                    <td>@Model.ServiceDetail.curStatus</td>
                                </tr>
                                <tr>
                                    <td>服务类别:</td>
                                    <td>@Model.ServiceDetail.ServicesType</td>
                                </tr>
                                <tr>
                                    <td>受理人:</td>
                                    <td>@Model.ServiceDetail.Operator</td>
                                </tr>
                                <tr>
                                    <td>受理时间:</td>
                                    <td>@string.Format("{0:yyyy-MM-dd HH:mm:ss}", Model.ServiceDetail.Time_TakeOver)</td>
                                </tr>
                                <tr>
                                    <td>受理方式:</td>
                                    <td>@Model.ServiceDetail.TakeStyle</td>
                                </tr>
                                <tr>
                                    <td>处理时间:</td>
                                    <td>@Model.ServiceDetail.Speding</td>
                                </tr>
                                <tr>
                                    <td>客户名称:</td>
                                    <td>@Model.ServiceDetail.CustomerName</td>

                                </tr>

                                <tr>
                                    <td>报修人:</td>
                                    <td>@Model.ServiceDetail.LinkMan</td>
                                </tr>
                                <tr>
                                    <td>报修人电话:</td>
                                    <td>@Model.ServiceDetail.Tel</td>

                                </tr>
                                <tr>
                                    <td>使用人:</td>
                                    <td>@Model.ServiceDetail.BranchRatioType</td>
                                </tr>
                                <tr>
                                    <td>使用人电话:</td>
                                    <td>@Model.ServiceDetail.UsePersonTel</td>
                                </tr>
                                <tr>
                                    <td>机器编号:</td>
                                    <td>@Model.ServiceDetail.DeviceNO</td>
                                </tr>
                                <tr>
                                    <td>机器型号:</td>
                                    <td>@Model.ServiceDetail.ProductModel</td>
                                </tr>
                                <tr>
                                    <td>预约时间:</td>
                                    <td>@Model.ServiceDetail.SubscribeTime</td>
                                </tr>
                                <tr>
                                    <td>备注:</td>
                                    <td>@Model.ServiceDetail.Remark</td>
                                </tr>
                            </tbody>
                        </table>
            }
        </div>
        <div id="item2" class="tab-item-content moreLen" style=" position: relative">
            <div style="overflow:scroll; padding:0px 10px;" >
                <table cellspacing="0" cellpadding="0" border="1" style="width:900px;" >
                    <thead >
                        <tr>
                            <td>处理方式</td>
                            <td>操作人</td>
                            <td>处理人</td>
                            <td>处理时间</td>
                            <td>处理措施/结果</td>
                            <td>到达时间</td>
                            <td>处理时长</td>
                            <td>完成时间</td>
                            <td>故障原因</td>
                            <td>下步处理部门</td>
                            <td>下步处理人</td>
                            <td>上门时间</td>
                            <td>处理过程</td>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.ServiceDetail != null && Model.ServiceProcess.Count > 0)
                        {
                            foreach (var item in Model.ServiceProcess)
                            {
                                <tr>
                                    <td>@item.DoStyle</td>
                                    <td>@item.Person</td>
                                    <td>@item.Operator</td>
                                    <td>@string.Format("{0:yyyy-MM-dd}", item._Date)</td>
                                    <td>@item.TakeSteps</td>
                                    <td>@item.StartTime</td>
                                    <td>@item.Spending</td>
                                    <td>@item.ArrivedTime</td>
                                    <td>@item.Reason</td>
                                    <td>@item.DoDept</td>
                                    <td>@item.DoOperator</td>
                                    <td>@item.visitdate</td>
                                    <td>@item.Course</td>
                                </tr>
                            }

                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div id="item3" class="tab-item-content">
            <div style="overflow:scroll ; padding-left:10px" >
                <table cellspacing="0" cellpadding="0" border="1" style="width:1000px">
                    <thead>
                        <tr>
                            <td>产品编号</td>
                            <td>名称</td>
                            <td>规格</td>
                            <td>品牌</td>
                            <td>单位</td>
                            <td>数量</td>
                            <td>已领数量</td>
                            <td>单价</td>
                            <td>金额</td>
                            <td>序列号</td>
                            <td>保修期</td>
                            <td>截止日期</td>
                            <td>结算方式</td>
                            <td>是否外购</td>                          
                            <td>外购单价</td>
                            <td>备注</td>                          
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.ServiceDetail != null && Model.ServiceMaterial.Count > 0)
                        {
                            foreach (var item in Model.ServiceMaterial)
                            {
                                <tr>
                                    <td>@item.GoodsNO</td>
                                    <td>@item._Name</td>
                                    <td>@item.Spec</td>
                                    <td>@item.ProductBrand</td>
                                    <td>@item.Unit</td>
                                    <td>@item.Qty</td>
                                    <td>@item.LQty</td>
                                    <td>@item.Price</td>
                                    <td>@item.Total</td>
                                    <td>@item.SN</td>
                                    <td>@item.MaintenancePeriod</td>
                                    <td>@item.PeriodEndDate</td>
                                    <td>@item.ChargeStyle</td>                          
                                    <td>@item.OutSourcing</td>
                                    <td>@item.OutCostPrice</td>
                                    <td>@item.Remark</td>
                                </tr>
                            }

                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div id="item4" class="tab-item-content">
            <div style="overflow:scroll">
                <table cellspacing="0" cellpadding="0" border="1" style="width:100%">
                    <thead>
                        <tr>
                            <td>项目编号</td>
                            <td>名称</td>
                            <td>金额</td>
                            <td>工时</td>
                            <td>提成</td>
                            <td>结算方式</td>
                            <td>是否完工</td>
                            <td>备注</td>                          
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.ServiceDetail != null && Model.ServiceItem.Count > 0)
                        {
                            foreach (var item in Model.ServiceItem)
                            {
                                <tr>
                                    <td>@item.ItemNO</td>
                                    <td>@item._Name</td>
                                    <td>@item.Price</td>
                                    <td>@item.dPoint</td>
                                    <td>@item.TecDeduct</td>
                                    <td>@item.ChargeStyle</td>
                                    <td>@item.bComplete</td>
                                    <td>@item.Remark</td>                                   
                                </tr>
                            }

                        }
                    </tbody>
                </table>
            </div>

        </div>
        <div id="item5" class="tab-item-content">
            <div style="overflow:scroll">
                <table cellspacing="0" cellpadding="0" border="1" style="width:100%">
                    <thead>
                        <tr>                       
                            <td>名称</td>
                            <td>参数</td>
                            <td>序列号</td>
                            <td>保修期</td>
                            <td>截止日期</td>
                            <td>购买日期</td>
                            <td>备注</td>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.ServiceDetail != null && Model.ServicesDeviceConfig.Count > 0)
                        {
                            foreach (var item in Model.ServicesDeviceConfig)
                            {
                                <tr>
                                    <td>@item._Name</td>
                                    <td>@item.Parameter</td>
                                    <td>@item.SN</td>
                                    <td>@item.MaintenancePeriod</td>
                                    <td>@item.MaintenanceEnd</td>
                                    <td>@item.BuyDate</td>
                                    <td>@item.Remark</td>                                 
                                </tr>
                            }

                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div id="item6" class="tab-item-content">
            <div style="overflow:scroll">
                <table cellspacing="0" cellpadding="0" border="1" style="width:100%">
                    <thead>
                        <tr>
                            <td>日期</td>
                            <td>操作人</td>
                            <td>报价人</td>
                            <td>报价项目</td>
                            <td>金额</td>
                            <td>客户确认</td>
                            <td>备注</td>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.ServiceDetail != null && Model.ServiceOffer.Count > 0)
                        {
                            foreach (var item in Model.ServiceOffer)
                            {
                                <tr>
                                    <td>@item._Date </td>
                                    <td>@item.Operator </td>
                                    <td>@item.Seller </td>
                                    <td>@item._Name </td>
                                    <td>@item.dAmount </td>
                                    <td>@item.CusConf </td>
                                    <td>@item.Remark </td>
                                </tr>
                            }

                        }
                    </tbody>
                </table>
            </div>

        </div>
        <div id="item7" class="tab-item-content">
            <div style="overflow:scroll">
                <table cellspacing="0" cellpadding="0" border="1" style="width:100%">
                    <thead>
                        <tr>
                            <td>催单人</td>
                            <td>联系电话</td>
                            <td>催单时间</td>
                            <td>受理人</td>
                            <td>处理结果</td>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.ServiceDetail != null && Model.ServicePush.Count > 0)
                        {
                            foreach (var item in Model.ServicePush)
                            {
                                <tr>
                                    <td>@item.LinkMan </td>
                                    <td>@item.Tel </td>
                                    <td>@item._Date </td>
                                    <td>@item.Operator </td>
                                    <td>@item.Result </td>                                  
                                </tr>
                            }

                        }
                    </tbody>
                </table>
            </div>          
        </div>
        <div id="item8" class="tab-item-content">
            <div style="overflow:scroll">
                <table cellspacing="0" cellpadding="0" border="1" style="width:100%">
                    <thead>
                        <tr>
                           <td>计数日期</td>
                            <td>计数人</td>
                            <td>类型</td>
                            <td>计数</td>
                            <td>余量</td>
                            <td>备注</td>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.ServiceDetail != null && Model.KSQty.Count > 0)
                        {
                            foreach (var item in Model.KSQty)
                            {
                                <tr>
                                    <td>@item._Date </td>
                                    <td>@item.Operator </td>
                                    <td>@item.QtyType </td>
                                    <td>@item.Qty </td>
                                    <td>@item.Allowance </td>
                                    <td>@item.Remark </td>
                                </tr>
                            }

                        }
                    </tbody>
                </table>
            </div>
        </div> 
        <div id="item9" class="tab-item-content">
            <div style=" width:100%;" class="imgs mui-content-padded">
                @if (Model.ServiceDetail != null && Model.ImgStock.Count > 0)
                        {
                    <div>维修前</div>
                            foreach (var item in Model.ImgStock.Where(m => m.ImgType == "维修前"))
                            {
                                <img src='@item.ImgSrc' currid='@item.ID' data-preview-src="" data-preview-group="1" />
                            }
                            <hr />
                            <div>维修中</div>

                            foreach (var item in Model.ImgStock.Where(m => m.ImgType == "维修中"))
                            {
                                <img src='@item.ImgSrc' currid='@item.ID' data-preview-src="" data-preview-group="2" />
                            }
                            <hr />
                            <div>维修后</div>

                            foreach (var item in Model.ImgStock.Where(m => m.ImgType == "维修完"))
                            {
                                <img src='@item.ImgSrc' currid='@item.ID' data-preview-src="" data-preview-group="3" />
                            }
                            <hr />
                        }
                <div class="mui-clearfix"></div>
            </div>
            <hr />
        <button id="UP-NewIMG">上传新图片</button>    
                </div>
        <div id="item10" class="tab-item-content">
            <div style="overflow:scroll">
                <table cellspacing="0" cellpadding="0" border="1" style="width:100%">
                    <thead>
                        <tr>
                            <td>ID</td>
                            <td>时间</td>
                            <td>操作员</td>
                            <td>事件</td>                           
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.ServiceDetail != null && Model.ServiceLog.Count > 0)
                        {
                            foreach (var item in Model.ServiceLog)
                            {
                                <tr>
                                    <td>@item.ID </td>
                                    <td>@item._Date </td>
                                    <td>@item.Operator </td>
                                    <td>@item.Event </td>                                
                                </tr>
                            }

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
 </div>
    
@section scripts{
<script src="/Scripts/mui.zoom.js"></script>
<script src="/Scripts/mui.previewimage.js"></script>

    <script>
        mui.init({
            swipeBack: true 
        });
        mui.previewImage();
        $(function () {            
            $(".tab-items .tab-item").click(function () {
                $(".tab-item").removeClass("mui-active");
                $(this).addClass("mui-active");
                var href = $(this).attr("href");
                $(".tab-item-content").removeClass("mui-active");
                $(href).addClass("mui-active");
            });
            $("#UP-NewIMG").click(function () {
                var bid = "@Model.ServiceDetail.BillID" +"_"+ "@Model.ServiceDetail.ID";
                if (!Validata.isNull(bid)) {
                    window.location.href = "/home/UploadImg/"+bid;
                }
            });

        })
    </script>
    
    }